body {
    font-family: "Merriweather", serif;
    margin: 0px;
}

h1 {
    font-size: 6rem;
    color: #0D7C66;
    font-family: "Sacramento", cursive;
    margin-bottom: 30px;
}

h2 {
    font-size: 3rem;
    color: #0D7C66;
    font-family: "Montserrat", sans-serif;
    margin:30px auto 30px auto;
    text-align: center;
}

h3 {
    font-size: 2rem;
    color: #BDE8CA;
}

p {
    font-size: 1.2rem;
    margin-bottom: 0px;
}

hr {
    border: dotted #BDE8CA 6px;
    margin: 100px;
}

/* <section id="hero"> */

.top-container {
    background-color: #BDE8CA;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100%;
}

.title-text {
    margin: 200px auto 0px auto;
}

.pc-img {
    height: 500px;
    padding: 0px;
    margin: 100px auto 0px 100px;
}


/* <section id="resume"> */

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.my-img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: 90px auto 25px auto;
}


/* <section id="skills"> */

.programing-img {
    height: 150px;
}

.learning-img {
    height: 150px;
}

.dictionary-img {
    height: 150px;
}

.green {
    color: #0D7C66;
}

.three-skills {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 100px auto 100px;
}

.skill {
    width: 350px;
    margin: 0px auto auto 50px;
}

/* <section id="contact"> */

.contact-container {
    text-align: center;
    margin-bottom: 100px;
}

.contact-container > a {
    margin: 100px;
    padding: 100px;
}

/* footer-container */

.footer-container {
    background-color: #0D7C66;
    text-align: center;
    padding-top: 50px;
}

.footer-container > a {
    margin: 100px;
    color: #042d25;
    padding-top: 20px;
}

.copyright {
    font-size: 0.9rem;
    margin-top: 30px;
    padding-bottom: 50px;
    color: white;
}

@media (max-width: 480px) {
    .top-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        height: 100vh;
        width: 100%;
    }
}
